doctype html
html
  head
    title= title
    link(rel="stylesheet" href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/garagedoorHandler.css')

    //3rd party - using locale files instead
    script(src='/Resource/jquery-3.7.1.min.js')
    script(src='/Resource/moment-with-locales.min.js') //2.19.4

    //from node_modules
    script(src='/socket.io/socket.io.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')

    //own
    script(src='/javascripts/config.js')
    script(src='/javascripts/utils.js')
    script(src='/javascripts/garagedoorHandler.js')
    script(src='/locales/fi.js')

    block content
        //wrapper
        #realtimenotifications
            #garagedoor
                #garagedoortext
                #garagedoorstatus
                #activeGarageDoorBtn
            #alarm
                #alarmText
                #alarmStatus