extends layout

block content
    //wrapper
    #clock
        h1#date
        h1#time

    #calendar

    #calendartwo
    
    #chartdivbase

    #beddit
        #icon
        #lastnight
        #chart

    // Wrapper
    #weather
        h2#weather_now
        #weatherforecast
            table
                tr
                    td
                        #weather-forecast-day-0
                    td
                        #weather-forecast-value-0
                    td
                        #weather-forecast-icon-0
                tr
                    td
                        #weather-forecast-day-1
                    td
                        #weather-forecast-value-1
                    td
                        #weather-forecast-icon-1
                tr
                    td
                        #weather-forecast-day-2
                    td
                        #weather-forecast-value-2
                    td
                        #weather-forecast-icon-2
                tr
                    td
                        #weather-forecast-day-3
                    td
                        #weather-forecast-value-3
                    td
                        #weather-forecast-icon-3
                tr
                    td
                        #weather-forecast-day-4
                    td
                        #weather-forecast-value-4
                    td
                        #weather-forecast-icon-4                   

    #homeautomation
        //h1#out
        #T_UTE
    #housetempcontainer
    #housetempimage
            //img(src= "/images/house2.png")
            #house
                #room
                #humid
                #floor
                #out
            #garage
                #garage_floor
                #garage_floor2
                #garage_room
                #garage_humid
                #storage_floor
                #storage_floor2
                #storage_room
                #storage_humid    

    #groundheatpump
        //img(src= "/images/wp3.png")
        #ghpbrinetemp
            #T_BRINE_IN
            #T_BRINE_UT
        #gphsupplytemp
            #T_FRAM
            #T_RETUR        
        #gphwamrwatertemp
            #T_VATTEN
        #pressurepipetemp
            #TRYCKR_T
        #gphwarmwaterstatus
            #VARMVATTEN
        #gphcompressorstatus
            //#KOMPR
        #gphsupplypumpstatus
            //#CIRK_SPEED
        #gphbrinestatus    
            //#BRINE_SPEED
        #TS_P
        //todo:
        #TID
        //#COMPR_STARTS
        #INTEGR_DIV
        #HGW_VV

    #groundheatpumpyesterday
        table
            tr
                td
                    #d_TID
                td
                    #d_TID_value
            tr
                td
                    #d_T_UTE
                td 
                    #d_T_UTE_value
            tr
                td                    
                    #d_T_VATTEN
                td
                    #d_T_VATTEN_value
            tr
                td
                    #d_KOMPR_H
                td
                    #d_KOMPR_H_value
            tr
                td
                    #d_VARMVATTEN_H
                td
                    #d_VARMVATTEN_H_value
            tr
                td
                    #d_COMPR_STARTS
                td
                    #d_COMPR_STARTS_value
            tr
                td
                    #d_TSTOP_E
                td
                    #d_TSTOP_E_value
            tr
                td                   
                    #d_TS_E
                td
                    #d_TS_E_value

    #ventilation
        #ventilationimg
        #fresh_label
        #fresh
        #supply_hr
        #supply_label
        #supply
        #waste_label
        #waste
        #exhaust_label
        #exhaust
        #humidity_48h
        #control_state
        #heating_status
        #exhaust_humidity
        #hr_effiency_in
        #hr_efficiency_out

    #electricity
        #kwh
        #kwh_yesterday
        #kwhchart
        #watts