doctype html
html
  head
    title= title
    link(rel="stylesheet" href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ventilation.css')
    link(rel='stylesheet', href='/stylesheets/homeautomation.css')    
    link(rel='stylesheet', href='/stylesheets/fire.css')
    link(rel='stylesheet', href='/stylesheets/beddit.css')
    link(rel='stylesheet', href='/stylesheets/electricity.css')
    link(rel='stylesheet', href='/stylesheets/temperatures.css')
    link(rel='stylesheet', href='/stylesheets/amschart.css')
    link(rel='stylesheet', href='/stylesheets/envoy.css')
    link(rel='stylesheet', href='/stylesheets/watermeter.css')
    link(rel='stylesheet', href='/stylesheets/highcharts.css')
    link(rel='stylesheet', href='/stylesheets/realtimenotifications.css')

    //6.0.3 version -^
    //script(type='text/javascript')(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js')
    //script(type='text/javascript')(src='//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js')
    //script(type='text/javascript')(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js')
    //link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //3rd party - using locale files instead
    link(rel='stylesheet', href='/Resource/font-awesome-4.7.0/css/font-awesome.min.css')
    script(src='/Resource/jquery-2.2.4.min.js')
    script(src='/Resource/jquery.simpleWeather.min.js')
    script(src='/Resource/moment-with-locales.min.js') //2.19.4
    script(src='/Resource/skycons.min.js')
    script(src='/Resource/Chart.min.js') //2.7.1
    script(src='/Resource/highcharts.js') // 6.0.3
    script(src='/Resource/highcharts-more.js') // 6.0.3
    
    //3rd party CDN files
    script(type='text/javascript', src='//www.amcharts.com/lib/3/amcharts.js')
    script(type='text/javascript', src='//www.amcharts.com/lib/3/serial.js')
    script(type='text/javascript', src='//www.amcharts.com/lib/3/plugins/export/export.min.js')
    script(type='text/javascript', src='//www.amcharts.com/lib/3/themes/light.js')
    link(rel='stylesheet', href='//www.amcharts.com/lib/3/plugins/export/export.css')

    //from node_modules
    script(src='/socket.io/socket.io.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    //own
    script(src='/javascripts/config.js')
    script(src='/javascripts/utils.js')
    script(src='/javascripts/date.js')
    script(src='/javascripts/weather.js')
    script(src='/javascripts/temperatures.js')
    script(src='/javascripts/calendar.js')
    script(src='/javascripts/groundheatpump.js')
    script(src='/javascripts/ventilation.js')
    script(src='/javascripts/reload.js')
    script(src='/javascripts/beddit.js')
    script(src='/javascripts/electricity.js')
    script(src='/javascripts/envoy.js')
    script(src='/javascripts/watermeter.js')
    script(src='/javascripts/socketIO.js')
    script(src='/locales/fi.js')
    //script(src='/locales/en.js')
    
  body
    block content
  
