#electricity {
    z-index: 100;
    position: absolute;
    left: 270px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    bottom: 0px;
    width:  600px;
    height: 25px;
    color: white;
}

#power_icon {
    position: absolute;
    bottom: 0px;
}


#kwh {
    position: absolute;
    bottom: 0px;
    left: 120px;
}

#kwh:hover {
    cursor: pointer;
}

#watts_icon {
    position: absolute;
    bottom: 0px;   
    left: 100px;    
}

#watts {
    position: absolute;
    bottom: 0px;   
    left: 20px;
}

#watts:hover {
    cursor: pointer;
}  

#kwh_yesterday {
    position: absolute;
    bottom: 0px;   
    left: 240px;
}