#han {
    position: absolute;
    right: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    bottom: 400px;
    width: 165px;
    color: white;
    text-align: right;
}

#hanimport {
    position: relative;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: 80px;
    color: white;
    float: left;
    text-align: left;
}

#hanexport {
    position: relative;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: 85px;
    color: white;
    float: right;
}

#sensor.momentary_active_import{
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#sensor.momentary_active_import_phase_1 {
    color: grey;
}
#sensor.momentary_active_import_phase_2 {
    color: grey;
}
#sensor.momentary_active_import_phase_3 {
    color: grey;
}
#sensor.momentary_active_export {
    right: 12px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#sensor.momentary_active_export_phase_1 {
    color: grey;
}
#sensor.momentary_active_export_phase_2 {
    color: grey;
}
#sensor.momentary_active_export_phase_3 {
    color: grey;
}

#sensor.solar_surplus_title {
    color: white;
}

#sensor.solar_surplus {
    color: white;
}

#sensor.daily_energy_import {
    position: absolute;
    left: -15px;
}