#housetempcontainer {
    //height: 150px;
    //width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#house {
    position: absolute;
    z-index: 100;
    width: 160px;
    height: 90px;
    bottom: 0px;
    color: white;
}

#house:hover {
    cursor: pointer;
}  

#housetempimage {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 240px;
    height: 170px;
} 


img {
    width: 100%;
    height: 100%;
}

#room {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: 65px;
    bottom: 32px;
}

#out {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: -40px;
    bottom: 35px;
}

#humid {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: 65px;
    bottom: 60px;}
#floor {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: 65px;
    bottom: 2px;
}

#garage {
    position: absolute;
    color: white;
    z-index: 100;
    font-size: 10px;
    font-weight: bold;    
    right: 2px;
    bottom: 2px;
    width: 70px;
    height: 70px;
}

#garage_floor:hover {
    cursor: pointer;
} 

#garage_floor {
    z-index: 100;
    position: absolute;
    right: 40px;
    bottom: 0px;
}
#garage_floor2 {
    z-index: 100;
    position: absolute;
    right: 40px;
    bottom: 10px;
}
#garage_room {
    z-index: 100;
    position: absolute;
    right: 40px;
    bottom: 25px;
}
#garage_humid {
    z-index: 100;
    position: absolute;
    right: 35px;
    bottom: 35px;
}
#storage_floor {
    z-index: 100;
    position: absolute;
    right: 2px;
    bottom: 0px;
}
#storage_floor2 {
    z-index: 100;
    position: absolute;
    right: 2px;
    bottom: 18px;
}
#storage_room {
    z-index: 100;
    position: absolute;
    right: 2px;
    bottom: 25px;
}
#storage_humid {
    z-index: 100;
    position: absolute;
    right: 2px;
    bottom: 35px;
}

#ventilator_temp {
    z-index: 100;
    position: absolute;
    right: 40px;
    bottom: 52px;
}
#ventillator_humid {
    z-index: 100;
    position: absolute;
    right: 35px;
    bottom: 63px;
}
#ventilator_fan:hover {
    cursor: pointer;
}

#ventilator_mode {
    z-index: 100;
    position: absolute;
    right: 4px;
    bottom: 52px;
}
#ventilator_fan {
    z-index: 100;
    position: absolute;
    right: 4px;
    bottom: 63px; 
}

#ventilatorModal {
    left: 2px;
    top: 12px;
}

#greenhouse {
    position: absolute;
    font-size: 10px;
    font-weight: bold;    
    top: 20px;
    right: 0px;
    width: 120px;
    height: 70px;
}

#greenhouse:hover {
    cursor: pointer;
}  

#ghtext {
    position: absolute;
    right: 45px;
    top: 0px;
}

#ghtemp {
    position: absolute;
    right: 2px;
    top: 15px;
}
#ghhumid {
    position: absolute;
    right: 32px;
    top: 15px;
}
#ghvbatt {
    position: absolute;
    right: 2px;
    top: 0px;
}
/* Overwrite garage ventilation bootstrap modal  */
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.modal-content {
    color: black;
}