#ventilation {
    position: absolute;
    bottom : 190px;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    right: 0px;
    width:  220px;
    height: 140px;
    color: white;
}

#ventilation:hover {
    cursor: pointer;
}  

#supply_label {
    position: absolute;
    right: 5px;
    bottom: 43px;
}

#supply {
    position: absolute;
    right: 5px;
    bottom: 25px;
}

#exhaust_label {
    position: absolute;
    right: 5px;
    bottom: 105px;
}
#exhaust {
    position: absolute;
    right: 5px;
    bottom: 88px;
}

#waste_label {
    position: absolute;
    left: 0px;
    bottom: 105px;
}

#waste {
    position: absolute;
    left: 15px;
    bottom: 88px;
}

#fresh_label {
    position: absolute;
    left: 0px;
    bottom: 43px;
}

#fresh {
    position: absolute;
    left: 15px;
    bottom: 25px;
}


#heating_status {
    position: absolute;   
    right: 5px;
    top: -15px;
}

#control_state {
    position: absolute;
    right: 5px;
    top: -30px;
}


#exhaust_humidity {
    position: absolute;
    font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    left: 55px;
    bottom: 100px;
}

#humidity_48h {
    position: absolute;
    font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    left: 55px;
    bottom: 85px;
}


#hr_effiency_in {
    position: absolute;
    left: 90px;
    bottom: 6px;
}

#hr_efficiency_out {
    position: absolute;
    left: 90px;
    top: 6px;
}
