#watermeter {
    position: absolute;
    right: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    bottom: 1120px;
    width: fit-content;
    color: white;
}

#watermetertitle {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
}

#watermetertitle .fa-droplet {
    color: #87CEFA;
}

#waterstatus {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    top: 0px;
    font-weight: bold;
}

.waterrow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
}

.waterlabel {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    flex-shrink: 0;
    font-weight: bold;
}

.watervalue {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: right;
    margin-left: 10px;
    font-weight: bold;
}

.fa-tint {
    color: #87CEFA;
}

#liters_today {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    color: #00FF00;
}

#liters_today.warning {
    color: #FFD700;
}

#liters_today:hover {
    cursor: pointer;
}

#liters_current {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    color: white;
}

#liters_current:hover {
    cursor: pointer;
}

#liters_yesterday {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    color: white;
}

#liters_yesterday:hover {
    cursor: pointer;
}

#liters_weekly_avg {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    color: white;
}

#liters_monthly_avg {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
}